@{
    ViewBag.Title = "ToDo HD";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        The ToDo HD application is a sample application that demonstrates an ability based authorization
        model for a .NET application.  The Hero project can be found on GitHub <a href="https://github.com/Skookum/Hero">here</a>.
    </li>

    <li class="two">
        <h5>Ability based authorization</h5>
        The traditional ASP.NET and MVC models for authorization require editing of the Web.config file of your 
        project in order to setup what roles have access to pages, controllers, and their actions.  By using
        Hero you will be able to attach an attribute to a controller or action that define what "ability" the
        context is apart of.  With a few attributes and initialization of your Roles/Abilities you will have 
        an extremely powerful and flexible authorization technique.
    </li>

    <li class="three">
        <h5>Navigation</h5>
        The sample application is very straight forward.  There is very little to configure to utilize hero, but 
        see our <a href="https://github.com/Skookum/Hero/blob/master/README.md">read me</a> for full details.  This will also give you pointers on where to look in
        the sample application for ability authorization configuration.  For now click on the ToDo link and start adding tasks.
    </li>
</ol>
